html{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    font-weight: 400;
    font-family: 'DIN-Regular';
    color: white;
}

.footer{
    height: 100px;
    background-color: #000013;
}

.mainscreen{
    background-image: url(../assets/placeholder.jpg);
}

.soldier{
    background-image: url(../assets/soldier.jpg);
}

.soldier-2{
    background-image: url(../assets/soldier2.jpg);
}

.soldier-3{
    background-image: url(../assets/placeholder.jpg);
}

.video{
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
}

.cofra-logo{
    width: 250px;
    margin-top: 100px;
}
.logo{
    animation: logo 2s;

}
.screen-content-container{
    position: absolute;
    bottom: 0;
    padding: 10%;
}

.animate-screen{
      animation: opacity 1s; 
    /* color: red; */
}

.arrow{
    width: 30px;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 15px);
    animation: arrow-anim 0.5s infinite;
}

.centered-background{
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.screen{
    height: 100vh;
    position: relative;
}

.teams-screen{
    position: relative;
}

.screen-title{
    font-family: 'DIN Condensed Bold';
    color: white;
    font-size: 92px;
}

.screen-subtitle{
    font-family: 'DIN-Regular';
    color: white;
    font-size: 15px;
}

.bottom{position:absolute; bottom:0;}

.center-text{
    text-align: center;
}

.team img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

@font-face {
    font-family: 'DIN Condensed Bold';
    font-style: normal;
    font-weight: normal;
    src: local('DIN Condensed Bold'), url('DINCondensed-Bold.woff') format('woff');
}

@font-face {
    font-family: 'DIN-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('DIN-Regular'), url('DINR____.woff') format('woff');
    }


@keyframes arrow-anim {
    0% {bottom: 20px;}
    50% {bottom: 15px;}
    100% {bottom: 20px;}
}

@keyframes opacity {
    0% {
        opacity: 0;
        transform: rotateY(180deg);
        left:-100%;
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg);
        left:0%;
    }
}

@keyframes logo {
    0% {
        opacity: 0;
        transform: rotateX(90deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

@keyframes animleft {
    0% {
        opacity: 0;
        position: relative;
        left:-100%;
    }
    100% {
        opacity: 1;
        position: relative;
        left:0%;
    }
}

@keyframes animright {
    0% {
        opacity: 0;
        position: relative;
        left:+100%;
    }
    100% {
        opacity: 1;
        position: relative;
        left:0%;
    }
}

.anim-left{
    animation: animleft 1s; 
}

.anim-right{
    animation: animright 1s; 
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
}

a:visited{
    color: white;
}

a{
    color: white;
}

a:hover{
    color: white;
    text-decoration: none;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }